.article-body {
    .annotation-link {
        text-decoration: none;
        color: #000;
        padding: 4px;
        border-radius: 4px;

        &:after {
            content: " [+]";
            font-size: 14px;
            vertical-align: middle;

            @media only print {
                counter-increment: footnotes;
                content: " [" attr(data-annotation) "]";
            }
        }
    }

    .annotation-link.active {
        &:after {
            content: " [-]";

            @media only print {
                content: " [" attr(data-annotation) "]";
            }
        }
    }

    .annotation-link:hover {
        color: #000;
    }

    .annotation {
        font-family: "Proxima Nova", sans-serif;
        font-weight: 200;
        font-size: 0.94444444444em;
        display: none;
        color: #000;
        background: #eee;
        padding: 30px;
        margin: 1em 0;
        border-radius: 4px;

        @media only print {
            display: block !important;
            font-size: 12px;
            padding: 10px;
            margin-right: 1em;
            width: 30%;
            float: left;
            clear: left;
            border-radius: 0;
            border: 1px solid #333;

            & .annotation {
                width: auto;
                margin-right: 0;
            }

            &:before {
                content: "[" attr(data-annotation) "] ";
            }
        }
    }

    .annotation.active {
        display: block !important;
    }

    $colors: (
        "orange": #f9bd4e,
        "green": #50cea8,
        "red": #f47453,
        "purple": #c493ff,
        "pink": #e1708c,
        "blue": #3eabb4,
        "chartreuse": #abdb42,
    );

    @each $name, $color in $colors {
        .annotation-link.#{$name} {
            background-color: $color;
        }

        .annotation.#{$name} {
            background-color: rgba($color, 0.55);
        }
    }
}
