body {
    line-height: 1.6666;
    font-size: 18px;
    width: 96%;
    max-width: 630px;
    font-family: "Lyon Text", "Times New Roman", serif;
    margin: 0 auto;
    padding-right: 330px;

    @media(max-width: 1010px) {
        padding-right: 0;
    }
}

.annotation-link {
    text-decoration: none;
    color: #000;
    background: #ccc;
    border-width: 0px;
    border-style: solid;
    padding: 4px 4px;
    border-radius: 4px;
}

.annotation-link:hover {
    color: #000;
}

.annotation {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 300;
    font-size: 17px;
    display: none;
    color: #000;
    background: #eee;
    padding: 30px;
    margin: 1em 0;
    border-width: 0px;
    border-style: solid;
    border-radius: 4px;
}

.annotation.active {
    display: block;
}

$colors: (
    "orange": #fc6,
    "green": #7d7,
    "red": #eba,
    "purple": #bbe,
    "pink": #ebb,
    "blue": #ace,
    "chartreuse": #ae6,
);

@each $name, $color in $colors {
    .annotation-link.#{$name} {
        background-color: $color;
    }

    .annotation.#{$name} {
        background-color: rgba($color, 0.25);
    }
}
