body {
    line-height: 1.6666;
    font-size: 18px;
    width: 630px;
    font-family: "Lyon Text", "Times New Roman", serif;
    margin: 0 auto;
    padding-right: 330px;
}

.annotation-link {
    text-decoration: none;
    color: #000;
    background: #ccc;
    border-width: 1px;
    border-style: solid;
    padding: 0px 1px;
}

.annotation-link:hover {
    color: #000;
}

.annotation {
    display: none;
    color: #000;
    padding: 8px;
    margin: 10px;
    /*display: block;*/
    width: 50%;
    float: left;
    clear: left;
    border-width: 1px;
    border-style: solid;
}

$colors: (
    "orange": (color: #fec, accent: #fc6),
    "green": (color: #dfd, accent: #7d7),
    "red": (color: #fed, accent: #eba),
    "purple": (color: #eef, accent: #bbe),
    "pink": (color: #fee, accent: #ebb),
    "blue": (color: #def, accent: #ace),
    "chartreuse": (color: #efc, accent: #ae6),
);

@each $name, $values in $colors {
    .annotation-link.#{$name} {
        background-color: map-get($values, color);
        border-color: map-get($values, accent);

        &:hover {
            background: map-get($values, accent);
        }
    }

    .annotation .annotation-link.#{$name} {
        background-color: map-get($values, accent);
        border-color: map-get($values, accent);

        &:hover {
            background-color: map-get($values, color);
        }
    }

    .annotation.#{$name} {
        background-color: map-get($values, color);
        border-color: map-get($values, accent);
    }
}
