{% extends "base.html" %}

{% block content %}
<style>
table .annotation {
    width: inherit;
}
</style>

<table>
    <tr>
        <th>Color</th>
        <th width="10%">Link</th>
        <th>Annotation</th>
    </tr>
    <tr>
        <td>Orange</td>
        <td><a href="#" class="annotation-link orange">Lorem Ipsum</a></td>
        <td><p class="annotation orange">Lorem ipsum dolor sit amet, <a href="#" class="annotation-link orange">consectetur adipiscing elit</a>. Sed a ipsum nec libero finibus molestie. In hac habitasse platea dictumst. Phasellus eget diam at nunc vulputate blandit sodales in ex. In sed efficitur sapien. Nunc et quam nec enim maximus convallis ut non lacus. Phasellus vel dui auctor, pellentesque ligula eu, commodo mauris. Morbi quis ex a lacus fermentum tristique. Maecenas magna urna, fermentum id dolor ut, egestas finibus tortor.</p></td>
    </tr>
    <tr>
        <td>Green</td>
        <td><a href="#" class="annotation-link green">Lorem Ipsum</a></td>
        <td><p class="annotation green">Lorem ipsum dolor sit amet, <a href="#" class="annotation-link green">consectetur adipiscing elit</a>. Sed a ipsum nec libero finibus molestie. In hac habitasse platea dictumst. Phasellus eget diam at nunc vulputate blandit sodales in ex. In sed efficitur sapien. Nunc et quam nec enim maximus convallis ut non lacus. Phasellus vel dui auctor, pellentesque ligula eu, commodo mauris. Morbi quis ex a lacus fermentum tristique. Maecenas magna urna, fermentum id dolor ut, egestas finibus tortor.</p></td>
    </tr>
    <tr>
        <td>Red</td>
        <td><a href="#" class="annotation-link red">Lorem Ipsum</a></td>
        <td><p class="annotation red">Lorem ipsum dolor sit amet, <a href="#" class="annotation-link red">consectetur adipiscing elit</a>. Sed a ipsum nec libero finibus molestie. In hac habitasse platea dictumst. Phasellus eget diam at nunc vulputate blandit sodales in ex. In sed efficitur sapien. Nunc et quam nec enim maximus convallis ut non lacus. Phasellus vel dui auctor, pellentesque ligula eu, commodo mauris. Morbi quis ex a lacus fermentum tristique. Maecenas magna urna, fermentum id dolor ut, egestas finibus tortor.</p></td>
    </tr>
    <tr>
        <td>Purple</td>
        <td><a href="#" class="annotation-link purple">Lorem Ipsum</a></td>
        <td><p class="annotation purple">Lorem ipsum dolor sit amet, <a href="#" class="annotation-link purple">consectetur adipiscing elit</a>. Sed a ipsum nec libero finibus molestie. In hac habitasse platea dictumst. Phasellus eget diam at nunc vulputate blandit sodales in ex. In sed efficitur sapien. Nunc et quam nec enim maximus convallis ut non lacus. Phasellus vel dui auctor, pellentesque ligula eu, commodo mauris. Morbi quis ex a lacus fermentum tristique. Maecenas magna urna, fermentum id dolor ut, egestas finibus tortor.</p></td>
    </tr>
    <tr>
        <td>Pink</td>
        <td><a href="#" class="annotation-link pink">Lorem Ipsum</a></td>
        <td><p class="annotation pink">Lorem ipsum dolor sit amet, <a href="#" class="annotation-link pink">consectetur adipiscing elit</a>. Sed a ipsum nec libero finibus molestie. In hac habitasse platea dictumst. Phasellus eget diam at nunc vulputate blandit sodales in ex. In sed efficitur sapien. Nunc et quam nec enim maximus convallis ut non lacus. Phasellus vel dui auctor, pellentesque ligula eu, commodo mauris. Morbi quis ex a lacus fermentum tristique. Maecenas magna urna, fermentum id dolor ut, egestas finibus tortor.</p></td>
    </tr>
    <tr>
        <td>Blue</td>
        <td><a href="#" class="annotation-link blue">Lorem Ipsum</a></td>
        <td><p class="annotation blue">Lorem ipsum dolor sit amet, <a href="#" class="annotation-link blue">consectetur adipiscing elit</a>. Sed a ipsum nec libero finibus molestie. In hac habitasse platea dictumst. Phasellus eget diam at nunc vulputate blandit sodales in ex. In sed efficitur sapien. Nunc et quam nec enim maximus convallis ut non lacus. Phasellus vel dui auctor, pellentesque ligula eu, commodo mauris. Morbi quis ex a lacus fermentum tristique. Maecenas magna urna, fermentum id dolor ut, egestas finibus tortor.</p></td>
    </tr>
    <tr>
        <td>Chartreuse</td>
        <td><a href="#" class="annotation-link chartreuse">Lorem Ipsum</a></td>
        <td><p class="annotation chartreuse">Lorem ipsum dolor sit amet, <a href="#" class="annotation-link chartreuse">consectetur adipiscing elit</a>. Sed a ipsum nec libero finibus molestie. In hac habitasse platea dictumst. Phasellus eget diam at nunc vulputate blandit sodales in ex. In sed efficitur sapien. Nunc et quam nec enim maximus convallis ut non lacus. Phasellus vel dui auctor, pellentesque ligula eu, commodo mauris. Morbi quis ex a lacus fermentum tristique. Maecenas magna urna, fermentum id dolor ut, egestas finibus tortor.</p></td>
    </tr>
</table>
{% endblock content %}
